.formcontainer {
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.formcontainer form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.formcontainer input {
    height: 3rem;
    padding: 0 1rem;
    margin: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.formcontainer textarea {
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.formcontainer button {
    display: inline;
}

@media screen and (max-width:850px) {
    .formcontainer {
        margin: 4rem 2rem;

    }

    .formcontainer form {
        padding: 2rem;
        width: 90%;
    }
}