.home {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.homeimg {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hometext {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.hometext h1 {
    font-size: 3rem;
    font-weight: 800;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hometext p {
    font-size: 1.4rem;
    color: white;
    padding: 1.5rem 0 2rem 0;
}

.hometext .show {
    text-decoration: none;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
    transition: all ease-in-out 0.3s;
}

.hometext .show:hover {

    background-color: black;
    color: white;
    transition: all ease-in-out 0.3s;
}

.destination {
    margin: 4rem 6rem;
}

.destination h1 {
    font-size: 3rem;
}

.first-des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    margin-bottom: 4rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img {
    width: 49%;
    height: 352px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width:550px) {
    .hometext h1 {
        padding: 10px 20px;
    }

    .hometext p {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }

    .hometext .show {
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;

    }
}

@media screen and (max-width:850px) {
    .destination {
        margin: 4rem 2rem;
    }

    .first-des {
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .des-text{
        width: 100%;
    }

    .image{
        width: 100%;
        margin: 2rem 0;
    }

    .image img{
        height: 250px;
    }
}