.navbar-items {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.875rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
    width: 95%;
    height: 5rem;
    border-radius: 1.2415rem;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-logo {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none!important;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 45px;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    text-decoration: none;
}

.nav-links i {
    padding-right: 5px;
    color: #222;
}

.nav-links:hover {
    background-color: #01959a;
    color: white !important;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-mobile {
    display: block;
}

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: black;
    color: white;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:850px) {
    .menu-icon{
        display:block;
        cursor: pointer;
    }

    .menu-icon i{
        font-size: 1.5rem;
    }
    

    .navbar-items {
        z-index: 999;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        background-color: white;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 5rem 0 2.1rem;
        margin: 0;
        transition: 0.3s ease-in-out all;
        border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out all;
    }


    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover {
        background-color: #01959a;
        transition: none;
    }

    .nav-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background-color: #01959a;
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    button {
        display: none;
    }

}